Worm, by Wildbow





<h1 class="entry-title"><a href="http://parahumans.wordpress.com/2011/06/11/1-1/" rel="bookmark">Gestation 1.1</a></h1>

<div class="entry-content">
<p style="text-align:right;"><a href="http://parahumans.wordpress.com/2011/06/14/gestation-1-2/" title="Next Chapter">Next Chapter</a></p>
<p dir="ltr"><em>Brief note from the author:  This story isn’t intended for young or sensitive readers.  Readers who are on the lookout for <a href="http://www.urbandictionary.com/define.php?term=Trigger%20warning">trigger warnings</a> are advised to give Worm a pass.</em></p>
<p dir="ltr" style="text-align:center;">■</p>
<p dir="ltr">Class ended in five minutes and all I could think was, <em>an hour is too long for lunch</em>.</p>
<p>Since the start of the semester, I had been looking forward to the part of Mr. Gladly’s World Issues class where we’d start discussing capes.  Now that it had finally arrived, I couldn’t focus.  I fidgeted, my pen moving from hand to hand, tapping, or absently drawing some figure in the corner of the page to join the other doodles.  My eyes were restless too, darting from the clock above the door to Mr. Gladly and back to the clock.  I wasn’t picking up enough of his lesson to follow along.  Twenty minutes to twelve; five minutes left before class ended.</p>
<p dir="ltr">He was animated, clearly excited about what he was talking about, and for once, the class was listening.  He was the sort of teacher who tried to be friends with his students, the sort who went by “Mr. G” instead of Mr. Gladly.  He liked to end class a little earlier than usual and chat with the popular kids, gave lots of group work so others could hang out with their friends in class, and had ‘fun’ assignments like mock trials.</p>
<p>He struck me as one of the ‘popular’ kids who had become a teacher.  He probably thought he was everyone’s favorite.  I wondered how he’d react if he heard <em>my</em> opinion on the subject.  Would it shatter his self image or would he shrug it off as an anomaly from the gloomy girl that never spoke up in class?</p>
<p>I glanced over my shoulder.  Madison Clements sat two rows to my left and two seats back.  She saw me looking and smirked, her eyes narrowing, and I lowered my eyes to my notebook.  I tried to ignore the ugly, sour feeling that stewed in my stomach.  I glanced up at the clock.  Eleven-forty-three.</p>
<p>“Let me wrap up here,” Mr. Gladly said, “Sorry, guys, but there <em>is</em> homework for the weekend.  Think about capes and how they’ve impacted the world around you.  Make a list if you want, but it’s not mandatory.  On Monday we’ll break up into groups of four and see what group has the best list.  I’ll buy the winning group treats from the vending machine.”</p>
<p dir="ltr">There were a series of cheers, followed by the classroom devolving into noisy chaos.  The room was filled with sounds of binders snapping shut, textbooks and notebooks being slammed closed, chairs screeching on cheap tile and the dull roar of emerging conversation.  A bunch of the more social members of the class gathered around Mr. Gladly to chat.</p>
<p>Me?  I just put my books away and kept quiet.  I’d written down almost nothing in the way of notes; there were collections of doodles spreading across the page and numbers in the margins where I’d counted down the minutes to lunch as if I was keeping track of the timer on a bomb.</p>
<p dir="ltr">Madison was talking with her friends.  She was popular, but not gorgeous in the way the stereotypical popular girls on TV were.  She was ‘adorable’, instead.  Petite.  She played up the image with sky blue pins in her shoulder length brown hair and a cutesy attitude. Madison wore a strapless top and denim skirt, which seemed absolutely moronic to me given the fact that it was still early enough in the spring that we could see our breath in the mornings.</p>
<p dir="ltr">I wasn’t exactly in a position to criticize her.  Boys liked her and she had friends, while the same was hardly true for me.  The only feminine feature I had going for me was my dark curly hair, which I’d grown long.  The clothes I wore didn’t show skin, and I didn’t deck myself out in bright colors like a bird showing off its plumage.</p>
<p dir="ltr">Guys liked her, I think, because she was appealing without being intimidating.</p>
<p dir="ltr">If they only knew.</p>
<p dir="ltr">The bell rang with a lilting ding-dong, and I was the first one out the door.  I didn’t run, but I moved at a decent clip as I headed up the stairwell to the third floor and made my way to the girl’s washroom.</p>
<p dir="ltr">There were a half dozen girls there already, which meant I had to wait for a stall to open up.  I nervously watched the door of the bathroom, feeling my heart drop every time someone entered the room.</p>
<p>As soon as there was a free stall, I let myself in and locked the door.   I leaned against the wall and exhaled slowly.  It wasn’t quite a sigh of relief.  Relief implied you felt better.  I wouldn’t feel better until I got home.  No, I just felt less uneasy.</p>
<p dir="ltr">It took maybe five minutes before the noise of others in the washroom stopped.  A peek below the partitions showed that there was nobody else in the other stalls.  I sat on the lid of the toilet and got my brown bag lunch to begin eating.</p>
<p dir="ltr">Lunch on the toilet was routine now.  Every school day, I would finish off my brown bag lunch, then I’d do homework or read a book until lunch hour was over.  The only book in my bag that I hadn’t already read was called ‘Triumvirate’, a biography of the leading three members of the Protectorate.  I was thinking I would spend as long as I could on Mr. Gladly’s assignment before reading, because I wasn’t enjoying the book.  Biographies weren’t my thing, and they were especially not my thing when I was suspicious it was all made up.</p>
<p dir="ltr">Whatever my plan, I didn’t even have a chance to finish my pita wrap.  The door of the bathroom banged open.  I froze.  I didn’t want to rustle the bag and clue anyone into what I was doing, so I kept still and listened.</p>
<p dir="ltr">I couldn’t make out the voices.  The noise of the conversation was obscured by giggling and the sound of water from the sinks.  There was a knock on the door, making me jump.  I ignored it, but the person on the other side just repeated the knock.</p>
<p dir="ltr">“Occupied,” I called out, hesitantly.</p>
<p dir="ltr">“Oh my god, it’s Taylor!” one of the girls on the outside exclaimed with glee, then in response to something another girl whispered, I barely heard her add, “Yeah, do it!”</p>
<p dir="ltr">I stood up abruptly, letting the brown bag with the last mouthful of my lunch fall to the tiled floor.  Rushing for the door, I popped the lock open and pushed.  The door didn’t budge.</p>
<p dir="ltr">There were noises from the stalls on either side of me, then a sound above me.  I looked up to see what it was, only to get splashed in the face.  My eyes started burning, and I was momentarily blinded by the stinging fluid in my eyes and my blurring of my glasses.  I could taste it as it ran down to my nose and mouth.  Cranberry juice.</p>
<p dir="ltr">They didn’t stop there.  I managed to pull my glasses off just in time to see Madison and Sophia leaning over the top of the stall, each of them with plastic bottles at the ready.  I bent over with my hands shielding my head just before they emptied the contents over me.</p>
<p dir="ltr">It ran down the back of my neck, soaked my clothes, fizzed as it ran through my hair.  I pushed against the door again, but the girl on the other side was braced against it with her body.</p>
<p dir="ltr">If the girls pouring juice and soda on me were Madison and Sophia, that meant the girl on the other side of the door was Emma, leader of the trio.  Feeling a flare of anger at the realization, I shoved on the door, the full weight of my body slamming against it.  I didn’t accomplish anything, and my shoes lost traction on the juice-slick floor.  I fell to my knees in the puddling juice.</p>
<p dir="ltr">Empty plastic bottles with labels for grape and cranberry juice fell to the ground around me.  A bottle of orange soda bounced off my shoulder to splash into the puddle before rolling under the partition and into the next stall.  The smell of the fruity drinks and sodas was sickly sweet.</p>
<p dir="ltr">The door swung open, and I glared up at the three girls.  Madison, Sophia and Emma.  Where Madison was cute, a late bloomer, Sophia and Emma were the types of girls that fit the ‘prom queen’ image.  Sophia was dark skinned, with a slender, athletic build she’d developed as a runner on the school track team.  Red-headed Emma, by contrast, had all the curves the guys wanted.  She was good looking enough to get occasional jobs as a amateur model for the catalogs that the local department stores and malls put out.  The three of them were laughing like it was the funniest thing in the world, but the sounds of their amusement barely registered with me.  My attention was on the faint roar of blood pumping in my ears and an urgent, ominous crackling ‘sound’ that wouldn’t get any quieter or less persistent if I covered my ears with my hands.  I could feel dribbles running down my arms and back, still chilled from the refrigerated vending machines.</p>
<p dir="ltr">I didn’t trust myself to say something that wouldn’t give them fodder to taunt me with, so I kept silent.</p>
<p dir="ltr">Carefully, I climbed to my feet and turned my back on them to get my backpack off the top of the toilet.  Seeing it gave me pause.  It had been a khaki green, before, but now dark purple blotches covered it, most of the contents of a bottle of grape juice.  Pulling the straps around my shoulders, I turned around.  The girls weren’t there.  I heard the bathroom door bang shut, cutting off the sounds of their glee, leaving me alone in the bathroom, drenched.</p>
<p dir="ltr">I approached the sink and stared at myself in the scratched, stained mirror that was bolted above it.  I had inherited a thin lipped, wide, expressive mouth from my mother, but my large eyes and my gawky figure made me look a lot more like my dad.  My dark hair was soaked enough that it clung to my scalp, neck and shoulders.  I was wearing a brown hooded sweatshirt over a green t-shirt, but colored blotches of purple, red and orange streaked both.  My glasses were beaded with the multicolored droplets of juice and soda.  A drip ran down my nose and fell from the tip to land in the sink.</p>
<p dir="ltr">Using a paper towel from the dispenser, I wiped my glasses off and put them on again.  The residual streaks made it just as hard to see, if not worse than it had been.</p>
<p dir="ltr"><em>Deep breaths, Taylor</em>, I told myself.</p>
<p dir="ltr">I pulled the glasses off to clean them again with a wet towel, and found the streaks were still there.</p>
<p dir="ltr">An inarticulate scream of fury and frustration escaped my lips, and I kicked the plastic bucket that sat just beneath the sink, sending it and the toilet brush inside flying into the wall.  When that wasn’t enough, I pulled off my backpack and used a two-handed grip to hurl it.  I wasn’t using my locker anymore: certain individuals had vandalized or broken into it on four different occasions.  My bag was heavy, loaded down with everything I’d anticipated needing for the day’s classes.  It crunched audibly on impact with the wall.</p>
<p dir="ltr">“What the fuck!?” I screamed to nobody in particular, my voice echoing in the bathroom.  There were tears in the corners of my eyes.</p>
<p dir="ltr">“The hell am I supposed to do!?”  I wanted to hit something, break something.  To retaliate against the unfairness of the world.  I almost struck the mirror, but I held back.  It was such a small thing that it felt like it would make me feel <em>more</em> insignificant instead of venting my frustration.</p>
<p dir="ltr">I’d been enduring this from the very first day of high school, a year and a half ago.  The bathroom had been the closest thing I could find to refuge.  It had been lonely and undignified, but it had been a place I could retreat to, a place where I was off their radar.  Now I didn’t even have that.</p>
<p dir="ltr">I didn’t even know what I was supposed to do for my afternoon classes.  Our midterm project for art was due, and I couldn’t go to class like this.  Sophia would be there, and I could just imagine her smug smile of satisfaction as I showed up looking like I’d botched an attempt to tie-dye everything I owned.</p>
<p dir="ltr">Besides, I’d just thrown my bag against the wall and I doubted my project was still in one piece.</p>
<p dir="ltr">The buzzing at the edge of my consciousness was getting worse.  My hands shook as I bent over and gripped the edge of the sink, let out a long, slow breath, and let my defenses drop.  For three months, I’d held back.  Right now?  I didn’t care anymore.</p>
<p dir="ltr">I shut my eyes and felt the buzzing crystallize into concrete information.  As numerous as stars in the night sky, tiny knots of intricate data filled the area around me.  I could focus on each one in turn, pick out details.  The clusters of data had been reflexively drifting towards me since I was first splashed in the face.  They responded to my subconscious thoughts and emotions, as much of a reflection of my frustration, my anger, my <em>hatred</em> for those three girls as my pounding heart and trembling hands were.  I could make them stop or direct them to move almost without thinking about it, the same way I could raise an arm or twitch a finger.</p>
<p dir="ltr">I opened my eyes.  I could feel adrenaline thrumming through my body, blood coursing in my veins.  I shivered in response to the chilled soft drinks and juices the trio had poured over me, with anticipation and with just a little fear.  On every surface of the bathroom were bugs; Flies, ants, spiders, centipedes, millipedes, earwigs, beetles, wasps and bees.  With every passing second, more streamed in through the open window and the various openings in the bathroom, moving with surprising speed.  Some crawled in through a gap where the sink drain entered the wall while others emerged from the triangular hole in the ceiling where a section of foam tile had broken off, or from the opened window with peeling paint and cigarette butts squished out in the recesses.  They gathered around me and spread out over every available surface; primitive bundles of signals and responses, waiting for further instruction.</p>
<p dir="ltr">My practice sessions, conducted away from prying eyes, told me I could direct a single insect to move an antennae, or command the gathered horde to move in formation.  With one thought, I could single out a particular group, maturity or species from this jumble and direct them as I wished.  An army of soldiers under my complete control.</p>
<p dir="ltr">It would be so easy, <em>so easy</em> to just go Carrie on the school.  To give the trio their just desserts and make them regret what they had put me through: the vicious e-mails, the trash they’d upended over my desk, the flute –my mother’s flute– they’d stolen from my locker.  It wasn’t just them either.  Other girls and a small handful of boys had joined in, ‘accidentally’ skipping over me when passing out assignment handouts, adding their own voices to the taunts and the flood of nasty emails, to get the favor and attention of three of the prettier and more popular girls in our grade.</p>
<p dir="ltr">I was all too aware that I’d get caught and arrested if I attacked my fellow students.  There were three teams of superheroes and any number of solo heroes in the city.  I didn’t really care.  The thought of my father seeing the aftermath on the news, his disappointment in me, his shame?  That was more daunting, but it still didn’t outweigh the anger and frustration.</p>
<p dir="ltr">Except I was better than that.</p>
<p dir="ltr">With a sigh, I sent an instruction to the gathered swarm.   Disperse.  The word wasn’t as important  as the idea behind it.  They began to exit the room, disappearing into the cracks in the tile and through the open window.  I walked over to the door and stood with my back to it so nobody could stumble onto the scene before the bugs were all gone.</p>
<p dir="ltr">However much I wanted to, I couldn’t really follow through.  Even as I trembled with humiliation, I managed to convince myself to pick up my backpack and head down the hall.  I made my way out of the school, ignoring the stares and giggles from everyone I walked past, and caught the first bus that headed in the general direction of home.  The chill of early spring compounded the discomfort of my soaked hair and clothes, making me shiver.</p>
<p>I was going to be a superhero.  That was the goal I used to calm myself down at moments like these.  It was what I used to make myself get out of bed on a school day.  It was a crazy dream that made things tolerable.  It was something to look forward to, something to work towards.  It made it possible to keep from dwelling on the fact that Emma Barnes, leader of the trio, had once been my best friend.</p>
<p style="text-align:right;"><a href="http://parahumans.wordpress.com/2011/06/14/gestation-1-2/" title="Next Chapter">Next Chapter</a></p>
</div>



